body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



/* Nav-bar and first container */

header{
    color: white;
}
.header-logo{
    padding-left: 200px;
    font-size: 24px;
}


.nav-bar{
    background-color:#1f2937;
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
    margin-top: 30px;
    font-size: 18px;
}

.link-one{
    padding-left: 500px;
}

.first-container{
    background-color:  #1f2937;
    display: flex;
    padding: 200px 200px 100px 200px;
    padding-top: 100px;

}
.first-container-main-text{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    
}
.first-container-subtext{
    font-size: 18px;
}
.first-container-right{
    flex: 1;
    margin-left: 150px;
}
.first-container-left{
    flex: 1;
    flex-grow: 1;
}

.button{
    background-color: #3882f6;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}



/* second container */

.images{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

img{
    border: 5px groove lightcoral;
}

.second-container-description{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.third-container{
    background-color: rgb(183, 213, 233);
    padding: 100px;
}
.third-container > p{
    text-align: center;
    font-size: 36px;
}

mark{
    background-color: rgb(186, 237, 179);
}


/* Last-container */

.last-container{
    background-color: aliceblue;
    padding: 75px;
}

.contact-me-box{
    display: flex;
    background-color:#3882f6;
    max-width: 700px;
    margin-left: 350px;
    padding: 20px;
    border-radius: 25px;
}

.contact-me-box-text{
    flex: 3;
    color: white;
}
.second-button{
    flex: 1;
    background-color: #3882f6;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    border: solid;
}

/* footer */

footer{
    text-align: center;
    padding: 50px;
    background-color: #1f2937 ;
    color: white;
    font-size: 18px;
}



/* ********************************************** */

/* reponsive for tablet */
@media (max-width: 767px){


    /* nav-bar */
    .nav-bar{
        flex-direction: column;
    }
    .header-logo{
        padding-left: 10px;
        font-size: 24px;
    }

    li, .link-one{
        padding-left: 50px;
    }

/* first-container */


.first-container{
    background-color:  #1f2937;
    display: flex;
    flex-direction: column;
    padding: 100px 0px 200px 0px;

}
.first-container-main-text{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    
}
.first-container-subtext{
    font-size: 18px;
    margin-bottom: 40px;
}
.first-container-right{
    flex: 1;
    margin-left: 130px; 
    margin-bottom: 20px;
}

.first-container-right > img{
    width: 500px;
}
.first-container-left{
    flex: 1;
    flex-grow: 1;
    order:1;
    margin-top: 50px;
    margin-left: 50px;
    
    
}

.button{
    background-color: #3882f6;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 450px;


}

/* Seconde-container */
.images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

img{
    border: 5px groove lightcoral;
    width: 300px;
}

.second-container-description{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

/* Third-container */
.third-container > p{
    text-align: center;
    font-size: 24px;
}



/* Last-container */




}